---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  
  <div class="post-work">
	
	<style>
	.flex-container {
	  display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	  justify-content: center;
	}

	.flex-container > div {
	  width: 49%;
	  margin: 0px;
	  text-align: center;
	  line-height: 75px;
	  font-size: 30px;
	}
	</style>
	
	<div class="flex-container">
		{%- for work in site.data.art.arts -%}
			<div>
				<img src = "{{work.src | escape}}" alt="{{work.title}}">
			</div>
		{% else %}
			<div>Something broke... Please tell me so I can fix it!</div>
		{%- endfor -%}
	</div>
  </div>

</article>
